<h1>Order Updated</h1>
<p>Details of the updated order:</p>
<p>Order ID: {{order_id}}</p>
<p>Customer: {{customer_name}}</p>
<p>Customer Email: {{customer_email}}</p>
<p>Subscription ID: {{subscription_id}}</p>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
</style>
<table>
    <thead>
    <tr>
        <th>Week</th>
        <th>Delivery Date</th>
        <th>Number of People</th>
        <th>Meals per Week</th>
        <th>Payment ID</th>
        <th>Items</th>
    </tr>
    </thead>
    <tbody>
    {{#order_details}}
        <tr>
            <td>{{week}}</td>
            <td>{{delivery_date}}</td>
            <td>{{number_of_people}}</td>
            <td>{{meals_per_week}}</td>
            <td>{{payment_id}}</td>
            <td>
                <ul>
                    {{#items}}
                        <li>{{recipe_name}} - ${{recipe_price}}</li>
                    {{/items}}
                </ul>
            </td>
        </tr>
    {{/order_details}}
    </tbody>
</table>
